@model MovieDto

@{
    ViewData["Title"] = "Movies";
}

<h1>@BasicRes.Details</h1>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @BasicRes.Genre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>

        <dt class = "col-sm-2">
            @BasicRes.MediumType
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediumTypeCode)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalizedRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@BasicRes.Edit</a> |
    <a asp-action="Index">@BasicRes.BackToList</a>
</div>
