@model IEnumerable<MovieDto>

@{
    ViewData["Title"] = "Movies";
}

<h1>Index</h1>
<p>
    <form method="post" action="/Movies/Create">
        @Html.AntiForgeryToken()
        <input class="btn btn-sm btn-dark" type="submit" value="@BasicRes.New" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@BasicRes.Genre</th>
            <th>@BasicRes.MediumType</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediumTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalizedRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@BasicRes.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@BasicRes.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@BasicRes.Delete</a>
            </td>
        </tr>}
    </tbody>
</table>
